*.7z
*/venv
*/__pycache__/
app.log
sales_data.json
mongodb_cmd.md
receiver/bus_api
*.env

auth/controller/reminder_controller.js
auth/node_modules
auth/views/reminder/*
auth/.env
auth/package-lock.json
auth/README.md